doctype
html(lang="fr")
  head
    meta(charset="utf-8")
    title Démo (photos)
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext&ver=3.5')

  body
    
    .grid-1.module
      h2 Fichiers
      table.table
        thead
          tr
            th(width="20%") Icone
            th(width="45%") Nom du fichier
            th(width="35%") Actions
        tbody
        each photo, index in db
          tr
            td 
              img(src='/img/file.png')
            td 
              a(href='#{photo.url}') #{photo.nom}
            td
              a.suppr(href='/delete?index=#{index}') Supprimer
              a.telecharger(href='/telecharger?index=#{photo.url}') Télécharger

    .grid-1.module
      h2 Envoyer des fichiers
      form.center(action="/add", method="post", enctype="multipart/form-data")
        h4 Nom: 
        input(type='text', name='nom')
        h4 Choisissez votre fichier: 
        input(type='file', name='fichier')
        div.center
          input(type='submit', value='Envoyer')

    .grid-1.module
      h2 Actions
      p   
        a.btn(href='/refresh') Actualiser les logs
