body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
img {
  width: 300px;
}

figurecaption span {
  margin: 10px;
  font-size: 200%;
  }

.photo {
    padding: 50px;
    background-color: blue;
}
.header {
    padding: 10px 10px 10px 100px;
    color: red;
}
.center {
    padding: 30px;
    text-align: center;
}

.notes {
    margin: 3% 10%;
    padding: 2px 15px;
    background-color: green;
}